@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

#root{
  display: flex;
  width: 100vw;
  flex-direction: column;
  padding: 0rem !important;
  max-width: none !important;
  margin: none !important;
}

body {
  display: flex;
  margin: 0px;
}

.select-disable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.select-enable { 
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

::-moz-selection {
  color: var(--selection-color);
  background: var(--selection-bg)
}

::selection {
  color: theme('colors.custom-teal.300');
  background: theme('colors.custom-teal.100');
}